@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Areas/Web/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">
    <h1 class="display-4">Hoş Geldiniz!</h1>
    <p class="lead">Blog platformumuza hoş geldiniz. Burada birbirinden güzel yazılar, bilgiler ve deneyimler sizleri bekliyor.</p>

    <hr class="my-4" />

    <div class="row mt-5">
        <div class="col-md-4">
            <h4>🎯 İlgi Çekici Bloglar</h4>
            <p>Güncel, faydalı ve sizi geliştirecek bloglar burada. Hemen keşfedin!</p>
        </div>
        <div class="col-md-4">
            <h4>🧠 Bilgi Paylaştıkça Güzelleşir</h4>
            <p>Deneyimlerinizi paylaşın, başkalarının yazılarından ilham alın.</p>
        </div>
        <div class="col-md-4">
            <h4>📝 Katkıda Bulunun</h4>
            <p>İsterseniz siz de yazar olun, topluluğumuza katılın.</p>
        </div>
    </div>

    <a href="/Web/Blog" class="btn btn-primary btn-lg mt-4">Bloglara Git</a>
</div>
